.header {
   display: flex;
   box-shadow: inset 0px -11px 8px -10px #ccc;
   grid-area: header;
   font-size: 15px;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   position: relative;
   &__search {
      border-radius: 11px;
      border: 2px solid #6ebbd3;
      padding: 0.5em;
   }
}
