.task-form {
   display: flex;
   flex-direction: column;
   padding: 0.9em;
   position: relative;
   button {
      text-align: center;
      max-width: 77px;
   }
   &__field,
   &__select {
      background-color: #f2f2f2;
      border-radius: 10px;
      padding: 0.9em;
      margin: 0.9em 0em 0.9em 0em;
   }
   &__fields {
      display: flex;
      justify-content: space-between;
   }
   &__errors {
      transition: 1s;
      color: red;
      font-size: 11px;
   }
}
