.login-form {
   display: flex;
   flex-direction: column;
   border: 2px solid black;
   border-radius: 10px;
   padding: 1em;
   &__title {
      display: flex;
      justify-content: space-between;
      color: brown;
      font-size: 17px;
   }
   &__main-title {
      color: steelblue;
      text-align: center;
      font-weight: bold;
   }
   &__inp {
      border: 2px solid steelblue;
      padding: 1em;
      margin: 1em 0em;
      border-radius: 9px;
   }
   &__error {
      font-size: 12px;
      color: red;
   }
   &__answer-server {
      color: red;
   }
}
